<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<script src="angular.js"></script>
	<style>
	h1{
		border-top: 2px solid blue;
		border-bottom: 2px solid blue;
		background-color: lightblue;
		padding: 10px;
	}
	li{
		list-style: none;
		border : 1px solid black;
		background-color: #eee;
		margin-top: 5px;
		padding: 10px;

	}
	li.completed {
		border : 1px solid red;
		background-color: lightpink;
		text-decoration: line-through;
		font-style: italic;
	}
	ol{
		padding-left: 0px;
		width: 350px;
	}
	.content{
		margin-left: 10px;
	}
	</style>
	<script>
	angular.module('taskModule',[])
	.factory('taskStorage',['$window',function getTaskStorage($w){
			function addTaskToStorage(taskName){
				var newTask = {
					id : new Date().getTime().toString(),
					name : taskName,
					isCompleted : false
				}
				$w.localStorage.setItem(newTask.id, $w.JSON.stringify(newTask));
				return newTask;
			}
			function removeTaskFromStorage(id){
				$w.localStorage.removeItem(id);
			}
			function getAllTasksFromStorage(){
				var allTasks = [];
				for(var i=0;i<$w.localStorage.length;i++){
					var key = $w.localStorage.key(i);
					allTasks.push($w.JSON.parse($w.localStorage.getItem(key)));
				}
				return allTasks;
			}
			return {
				add : addTaskToStorage,
				remove : removeTaskFromStorage,
				getAll : getAllTasksFromStorage 
			};
		}])
	.controller('taskController',['$scope','taskStorage' function taskController($sc,ts){
		//var ts = getTaskStorage();
		var tasks = $sc.tasks = ts.getAll();
		$sc.addTask = function(){
			var newTaskObj = ts.add($sc.newTask);
			tasks.push(newTaskObj);
		}
		$sc.toggleCompletion = function(task){
			task.isCompleted = !task.isCompleted;
		};
		$sc.removeCompelted = function(){
			for(var i=tasks.length-1;i>=0;i--)
				if (tasks[i].isCompleted){
					ts.remove(tasks[i].id);
					tasks.splice(i,1);
				}
		}
	}])
	.filter('limitName', function(){
		return function(data,limit){
			data = data || '';
			limit = limit || 20;
			return data.length > limit ? data.substr(0,limit) + "..." : data;
		}
	});
	</script>
</head>
<body ng-app="taskModule">
	<h1>Task Manager</h1>
	<div class="content" data-ng-controller="taskController">
		<div>
			<input type="range" ng-model="taskNameLength" min="0" max="50">
			<input type="text" ng-model="taskSearch.name">
		</div>
		<span>Task :</span>
		<input type="text" data-ng-model="newTask">
		<input type="button" value="Add Task" data-ng-click="addTask()">
		<input type="button" value="Remove Completed" data-ng-click="removeCompelted()">
		<ol>
			<li data-ng-repeat="task in tasks | filter:taskSearch"
			 data-ng-class="{completed : task.isCompleted}">
			 	<input type="checkbox" 
			 		data-ng-click="toggleCompletion(task)">

			 	<span data-ng-show="editableTask != task" ng-click="editableTask=task">{{task.name | limitName:taskNameLength  }}</span>
			 	<input ng-blur="editableTask=null" data-ng-show="editableTask === task" type="text" data-ng-model="task.name" >
			 </li>
		</ol>
	</div>
</body>
</html>